*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	background-image: linear-gradient(#222,#777);
	background-attachment: fixed;
}
#container{
    background-color: rgb(255, 165, 0);
	width: 31%;
	margin: auto;
	margin-top:10%;
	border-radius: 10px;
}
form{
	margin: auto;
	width:90%;
	font-size:14px;  
	background-color: orange;
    color:black;
    padding: 10px;
	box-shadow: 5px 5px 20px black;
}
input{
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	font-size:14px;	
	color:#777;
	transition:all 0.5s;
	font-family:sans-serif;
	outline: 0px;
	border:0px;
}
input:focus{
	background-color:#FC6;	
	
}
#signinbtn{
	width:95px;
	height:40px;
	border:1px solid rgba(0, 0, 0,0.7);
	border-radius:25px;
	background:none;
	color:#fff;
	font-size:14px;	
	padding:10px;
	margin-top:10px;
	transition:all 0.3s;
	cursor:pointer;
}
#signinbtn:hover{
	color:#FC6;
	background:#fff;
}
