*{
    box-sizing: border-box;
}
body{
    width:100%;
    margin: 0px;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    font-size: 14px;
}
#container{
    overflow-x: hidden;
    position: relative;
    left:2.5%;
    float: left;
    width:95%;
    background-image: url("img/container.jpg");
    margin: auto;
}
header{
    width:100%;
    display: inline-block;
    background-image: url("img/header.jpg");
}
/*logo div start*/
#logo{
    float: left;
    width:70%;
}
#logo>img{
    width:280px;
    height: 180px;
    float: left;
    margin-left:-60px;
    margin-top:-30px;
}
#logo>h1{
    display: inline-block;
    text-shadow: 0.2px 0.2px 0.2px #fff;
    color:#666;
    font-size:50px;
    font-family: sans-serif;
	margin-left:-100px;
    margin-top: 50px;
}
/*logo div End*/
/*search div start*/
#search{
    width:30%;
   float: right;
   margin-top:60px;
}
#search label{
    background-image: linear-gradient(#222,#777);
    padding: 10px;
    color:white;
    cursor: pointer;
    user-select: none;
    padding-top:9px;
}
#search input{
    width:65%;
   outline: 0px;
    border: 0px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    padding: 10px;
    position: relative;
    right: 4px;
    transition: 0.5s;
}
#search input:active{
    background: lightslategray;
}
#search input:focus{
    width:70%;
    background: #cece73;
    color:#222;
}
/*search div start*/

/*navigation bar satrted*/
nav{ 
    
    display: inline-block;
     background-image: url("img/nav.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100%;
   
}
nav>ul{
    padding: 0px;
    list-style-type: none;
    float: left;
    position: relative;
    left:50%;
}
nav>ul>li{
    float: left;
    position: relative;
    right: 50%;
}
nav>ul>li>a{
    text-decoration: none;
    float: left;
    padding: 10px 40px;
    background-color:#1b1919;
    color:#ccc;
    font-family: sans-serif;
    transition: 0.5s ease; 
    
}
nav>ul>li>a:hover{
    background-color:white;
     color:#1b1919;
     transition: 0.5s ease; 
}
.nested{
    list-style-type: none;
    padding: 0px;
    text-align: center;
    display: none;
    position: absolute;
    top:36px;
    width:122px;
    z-index: 99;
}
.nested a:hover{
    background-image: linear-gradient(#ccc,#fff);
     color:#222;
}
.nested li{
     background-image: url("img/background.jpg");
     box-shadow: 10px 10px 10px black;
     transition: 0.5s;
}
.nested li:hover{
    position: relative;
    left:10px;
    
}
.hide:hover .nested{
    display: block;
    
}
.nested a{
    display: block;
    color:#fff;
    text-decoration: none;
    padding: 10px ;
}
/*navbar Ended*/
/*main body*/
main{
    float: left;
    background-image: url("img/aside.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main h1{
    margin: 0px;
    text-align: center;
    font-size: 50px;
    text-shadow: 0.5px 0.5px 0.5px #fff;
    color:black;
}
/*imagesgroup  start*/
section{
     background-image: url("img/background.jpg");
}
section input{
    width:100px;
    height: 30px;
    outline: 0px;
    border:0px;
    cursor: pointer;
    margin: 10px;
    background-image: linear-gradient(#0c544f,#63ccbe);
    color:white;
    text-shadow: 0.5px 0.5px 0.5px black;
    border-radius: 25px;
}
section input:active{
    background-image: linear-gradient(#63ccbe,#0c544f);
}
#imagesgroup{
    float: left;
    width:100%;
}
#imagesgroup section{
    float: left;
    width:30%;
    margin: 10px;
    padding: 10px;
    color:#fff;
    text-align: center;
}
#imagesgroup section a img{
    width: 100%;
}
/*footer start*/
footer{
    text-align: center;
    width:100%;
    background: #171616;
}
footer>ul{
    list-style-type: none;
    float: left;
    text-align: center;
}
footer>ul>li{
    float: left;
}
footer a{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    margin: 10px;
}
footer>#links{
    text-align: center;
    
}
footer>#links>a>img{
    width:80px;
    height: 50px;
}
footer>span{
color:#fff;
}