input{
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	font-size:14px;	color:#777;
	transition:all 0.5s;
	font-family:san "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
input:focus{
	background-color:#FC6;
}

#signin{
	font-size:14px;  
	  background: #198882;
    color:white;
    float: right;
    padding: 60px;
}
#signinbtn{
	width:95px;
	height:40px;
	border:1px solid lightseagreen;
	border-radius:25px;
	background:none;
	color:#fff;
	font-size:14px;	
	padding:10px;
	margin-top:10px;
	transition:all 0.3s;
	cursor:pointer;
}
#signinbtn:hover{
	color:#198882;
	background:#fff;
}