@charset "utf-8";
/* CSS Document */

*{
    box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	background-image: radial-gradient(rgba(64, 55, 64, 0.75),rgba(55, 44, 55, 0.84));
    width:100%;
    font-family: sans-serif;
}
#wrapper{
    /*width:90%;*/
    background-color: rgba(0, 0, 0,0.5);
    margin: auto;
    padding: 10px;
    box-shadow: 1px 2px 30px black;
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: column;*/
	margin-top:10px;
}
#wrapper>h1{
	width: 100%;
	text-align:center;
	padding:10px;
    color:white;
	background-color:sandybrown;
	text-shadow: 0.5px 0.5px 0.4px black;
}
input{
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	font-size:14px;
	color:#777;
	transition:all 0.5s;
	font-family:sans-serif;
	outline: 0px;
	border: 0px;
}
input:focus{
	background-color:#FC6;
}

form{
    background-color: rgba(0, 0, 0,0.4);
    color:white;
    padding: 40px;
	font-size:14px;
	width: 30%;
}
#signupbtn{
	border: 0px;
	outline: 0px;
	width:95px;
	height:40px;
	border:1px solid orange;
	border-radius:25px;
	background:none;
	color:#fff;
	font-size:14px;	
	padding:10px;
	margin-top:10px;
	transition:all 0.3s;
	cursor:pointer;
}
#signupbtn:hover{
	color:orange;
	background:#fff;
	border:0px;
}
span{
	flex-grow: 1;
	background-color: rgba(0, 0, 0,0.4);
}
span>img{
width:400px;
height: 200px;
}