*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
body{
    /*background-image: url("img/img1.jpg");
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
    background-repeat: no-repeat;*/
    background-image: linear-gradient(#222,#777)
}

header{
    display: flex;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7));
    padding: 8px 5px;
}
#logo img{
    cursor: pointer;
    width: 80px;
    height: 80px;
}
input[type="search"]{
    width:400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: 0px;
    border: 0px;
    transition: 1s;
    font-size: 14px;
    color:black;
    padding: 12px 10px;
}
input[type="search"]:focus{
    background-color:lemonchiffon;
    flex-grow: 1;
}

/*header buttons Start*/
#rightcontentbtn{
    margin-left: auto;  /* it move the rightcontent btn to most right*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#signinbtn,#signupbtn{  
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    margin-right:5px;
    color:white;
    background: none;
    letter-spacing: 1px;
    font-size: 12px;
    width:65px;
    height: 35px;
    border:0px;
    outline: 0px;
    text-shadow: 1px 1px 0.5px black;
    border:1px solid #9c4040;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s all;
    padding: 9px;
}
#searchbtn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    color:white;
    background: none;
    letter-spacing: 1px;
    font-size: 14px;
    width:70px;
    height: 40px;
    border:0px;
    outline: 0px;
    text-shadow: 1px 1px 0.5px black;
    border:1px solid #9c4040;
    cursor: pointer;
    margin-right:4px;
    transition: 0.4s all ;
}
#signinbtn:hover,#signupbtn:hover,#searchbtn:hover{
    color:#ff5f00;
    background: #fca204;
    border:0px;
}
#signinbtn:active,#signupbtn:active,#searchbtn:active{
    transition: none;
   color:white;
   background-color:#cb5901;
   border:0px;
}
#cart{   
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
}
/*header buttons end*/
/* Navigation start */
nav>ul{
    list-style-type: none;
    background-color: rgb(64, 55, 64);
    display: flex;
    justify-content: center;
    color:#ccc;
}

nav>ul>li>a{
    font-size: 14px;
    letter-spacing: 1px;
    color:white;    
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    transition: 0.4s;
}
nav>ul>li>a:hover{
    background-color:#e78402;
    color:#222;
    text-shadow: 0.5px 0.3px 0.5px #fff;
}
nav>ul>li>a:active{
    transition: none;
    background-color:#cb5901;
    color:#222;
}
/* Navigation ended and slider start*/
#slider{
    width:100%;
    height: 200px;
    background:lightsalmon;
    user-select: none;
}
#prev,#next{
    background-color:none;
    color:#ccc;
    font-size: 30px;
    padding: 80px 20px;
    cursor: pointer;
    user-select: none;
}

#prev:hover,#next:hover{
    background-color: rgba(222, 222, 222, 0.5);
    color:#222;
}
#prev:hover,#prev:active{
    box-shadow: 2px 0px 10px black;;
}
#next:hover,#next:active{
    box-shadow: -2px 0px 10px black;;
}
#slider>img{
    width:100%;
    height: inherit;
    transition: 1s;
}
#dots span{
    display: inline-block;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color:white;
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
}
#dots{
    align-self: flex-end;
}
#slidernavigators{
    position: absolute;
    top:146px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 200px;
}
/* Slider ended and product container start */
#products{
    display: flex;
    /*flex-wrap: wrap;*/
    /*justify-content: space-around;*/
    color:white;
    text-align: center;
}
figure{
    background-color:lightcoral;
}
figure>img{
    padding: 10px;
    width:300px;
    height: 300px;
    cursor: pointer;
}
figure>img:hover figure{
    background-color: green;
}
figcaption{
    background-color: lightseagreen;
}
aside{
    align-self: flex-start;
    display: flex;
   flex-grow : 1;/* // this means that the div will grow in same proportion as the window-size*/
flex-shrink : 1; /*// this means that the div will shrink in same proportion as the window-size */
flex-basis : 0; /*// this means that the div does not have a starting value as such and will take up screen as per the screen size available for.e.g:- if 3 divs are in the wrapper then each div will take 33%.*/
    flex-wrap: wrap;
}
aside>figure{

}
section{
    justify-content: space-around;
    align-self: flex-start;
    flex-grow: 2;
    background-color:lime;
    display: flex;
    flex-wrap: wrap;
}
section>figure
{
    background-color:lightsalmon;
}